ul {
    list-style: none;
}

.background {
    position: absolute;
    font-size: 15rem;
    font-weight: 600;
    color: rgba(235, 235, 235, 0.04);
    user-select: none;
    z-index: 1;
}

.exit {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 40px;
}

.logo {
    font-size: 2rem;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.menu-div:hover {
    color: gray;
    cursor: crosshair;
    transition: all 0.2s ease-in-out;
}

.menu {
    opacity: 0.3;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    position: fixed;
    top: -100%;
    align-items: center;
    background-color: rgb(39, 39, 39);
}

.nav {
    opacity: 0;
    margin-bottom: -20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    transition: all 0.2s ease-in-out;
}

.nav-link:hover {
    color: #dd7dff  ;
    transition: all 0.2s ease-in-out;
}

.small-number {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
}

.title {
    font-size: 2rem;
    font-family: "Poppins Light", sans-serif;
    color: #9d9c9c;
    text-shadow: -0.5px -0.5px 1px rgba(159, 159, 159, 0.45), 1px 1px 1px rgba(0, 0, 0, 0.77);
}

.right {
    padding-right: 100px;
}

.information {
    margin-bottom: 24px;
}

.menu-container {
    z-index: 3;
}

.social-medias > a {
    color: white;
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1.2px;
}

.social-medias > a:hover {
    color: #dd7dff;
}

/* Media Query */
@media screen and (max-width: 660px) {
    .menu {
        flex-direction: column;
        justify-content: center;
        transition:width 1s ease-in-out;
    }

    .right {
        display: none;
    }
}

